.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contentWrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.appLink {
  color: #61dafb !important;
}

.btn{
  font-size: calc(10px + 1vmin);
  padding: 0.5em 1em;
}